{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "property-no-vendor-prefix": null,
    "selector-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  },
  "overrides": [
    {
      "files": ["*.html"],
      "customSyntax": "postcss-html"
    }
  ]
}
